body {
	color:red;
}
.kwadrat {
	background-color: pink; 
	height:300px
	w }

	main div{
		display: 
	}



	#jeden{
		background-color:lime;
		font-size:100px;
	}
	main p{
		color: black;
	}

	img:hover {
		border-radius: 100px;
	}

 header {
 	border: 0px  green;
 	border:20px green  ;
 	position: sticky;
 	type
 }